* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    color: black;
    margin: 0;
    padding: 2rem;
}

.container {
    /* margin: 200px; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
   
}

img {
    margin: 75px;
    width: 200px;
    height: 200px;
    border: burlywood;
    border-radius: 5px;
    padding: 1rem;
    cursor: progress;
    /* border-style:dotted; */
}

.windowDiv {
    margin-top: 50px; 
     border-style:dashed;
} 

h1 {
    font-style: linear-gradient(rgb(135, 238, 161), rgb(82, 217, 241));
    text-align: center;
}

.gradient-text {
    background-image: linear-gradient(45deg, #9ff19c, #6d9ade9c);
    background-size: 100%;
    background-clip: text;
    /* Fallbacks for various browsers */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* This webkit good to go for Chrome */
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}